Appunti_Analisi_Numerica.aux
Appunti_Analisi_Numerica.hst
Appunti_Analisi_Numerica.log
Appunti_Analisi_Numerica.out
Appunti_Analisi_Numerica.pdf
Appunti_Analisi_Numerica.toc
Appunti_Analisi_Numerica.ver
My_report.sty
calcolointro.aux
cholesky.aux
convergenza.aux
esercitazione1.aux
esercitazione3.aux
esercitazione5.aux
esercitazione7.aux
esercizi.aux
fattLU.aux
fattLU2.aux
footmisc.sty
gauss.aux
inputenc.sty
integrazione.aux
inter_tratti.aux
interpolazione.aux
intro_aimi.aux
iterativi.aux
mat_ele.aux
matlab.aux
norme.aux
pdf-float.aux
stabilita.aux
